/****************** FONT ***********************/
@font-face {
  font-family: 'roboto-thin';
  src: url('../font/roboto/Roboto-Thin.ttf');
}
@font-face {
  font-family: 'roboto';
  src: url('../font/roboto/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'roboto-medium';
  src: url('../font/roboto/Roboto-Medium.ttf');
}
@font-face {
  font-family: 'roboto-bold';
  src: url('../font/roboto/Roboto-Bold.ttf');
}
/****************** VARIABLES ***********************/
/****************** GENERAL RESET ***********************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul,
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  transition: all 0.5s ease-out;
}
/****************** CUSTOM SETTINGS ***********************/
html {
  background-color: #fff;
  overflow-x: hidden;
}
body {
  background-color: #fff;
  overflow: hidden;
}
section {
  padding: 50px 0;
}
p,
ul,
ol {
  margin-bottom: 0.5em;
}
p a,
h5 a {
  font-weight: bold;
  transition: all 0.5s ease-out;
}
h1,
h2,
h3,
h4,
h5 {
  line-height: 1.5em;
  margin-bottom: 1.5em;
}
/****************** NAVBAR ***********************/
#mainNav {
  background-color: transparent;
  padding-top: 20px;
  transition: padding-top 0.3s, padding-bottom 0.3s;
}
#mainNav .navbar-toggler {
  padding: 13px;
  border: 0;
  color: #fff;
}
#mainNav .navbar-brand {
  margin-right: 0;
}
#mainNav .navbar-brand img {
  width: 70%;
}
#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 14px;
  padding: 7px 15px !important;
  color: #fff;
  font-family: 'roboto', Georgia, serif;
  border: 3px solid transparent;
}
#mainNav .navbar-nav .nav-item #login {
  padding: 8px 30px !important;
  background-color: #0e1a35;
  color: #5584ff;
  border: 1px solid #5584ff;
  border-radius: 25px;
}
#mainNav .navbar-nav .nav-item #login:hover {
  background: #5584ff;
  color: #fff !important;
}
#mainNav .navbar-nav .nav-item .nav-link.active,
#mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #fff !important;
  background: #5584ff !important;
  border-radius: 17px;
}
/********************* HEADER *************************/
header {
  color: #fff;
  background-image: url('../../img/header-img.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
header .container {
  background-image: url('../../img/graph.png');
  background-repeat: repeat-x;
  animation: animatedBackground 10s linear infinite;
}
@keyframes animatedBackground {
  form {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
header .container .intro-text {
  padding-top: 150px;
}
header .container .intro-text h1 {
  font-size: 40px;
  line-height: 22px;
  margin-bottom: 25px;
  font-family: 'roboto-thin', Arial, sans-serif;
}
header .container .intro-text h3 {
  font-size: 30px;
  line-height: 50px;
  margin-bottom: 25px;
  font-family: 'roboto', Georgia, serif;
  font-weight: 400;
  color: #bfbfbf;
}
header .container .intro-text a {
  padding: 8px 34px;
  font-family: 'roboto', Georgia, serif;
  background: #5584ff;
  color: #fff;
  border-radius: 25px;
}
header .container .intro-text a:hover {
  background: transparent;
  border: 1px solid #5584ff;
}
/********************* MEDIA-QUERY *************************/
#services {
  padding: 100px 0 50px 0;
  background-color: #fff;
  margin-top: -120px;
}
#services .container {
  margin-top: 100px;
}
#services .container .row .col-md-4 img {
  margin-bottom: 30px;
  height: 85px;
}
#services .container .row .col-md-4 img:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-out;
}
#services .container .row .col-md-4 #service1::after,
#services .container .row .col-md-4 #service2::after {
  content: '';
  position: absolute;
  right: -60px;
  top: 50px;
  width: 10vw;
  height: 1px;
  background: #e1e4eb;
}
#services .container .row .col-md-4 h4 {
  font-weight: 700;
  margin-bottom: 10px;
  font-family: 'roboto', Georgia, serif;
}
#services .container .row .col-md-4 p {
  font-family: 'roboto', Georgia, serif;
  color: #b2bbcd;
  line-height: 1.5;
  margin-bottom: 20px;
}
#services .container .row .col-md-4 a {
  color: #000000;
  border: 1px solid #cccccc;
  width: 70%;
  margin-bottom: 20px;
  font-family: 'roboto', Georgia, serif;
  border-radius: 25px;
}
#services .container .row .col-md-4 a:hover {
  background-color: #cccccc;
}
/********************* FEATURES *************************/
#features {
  background: #fff;
}
#features .container .row .col-md-5 {
  margin-top: 100px;
}
#features .container .row .col-md-5 h2 {
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 50px;
  margin-bottom: 25px;
  font-family: 'roboto', Georgia, serif;
  font-weight: 400;
  color: #000000;
}
#features .container .row .col-md-5 p {
  font-family: 'roboto', Georgia, serif;
  color: #a3adc3;
  line-height: 1.5;
  font-size: 18px;
  margin-bottom: 50px;
}
#features .container .row .col-md-5 span {
  display: flex;
  color: #5584ff;
  margin-bottom: 20px;
  font-size: 18px;
}
#features .container .row .col-md-5 span img {
  margin-right: 10px;
}
/********************* MEDIA-QUERY *************************/
@media (min-width: 300px) {
  #mainNav.navbar-shrink {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #192e5d;
  }
}
